﻿@model Test.Models.ListViewModel


<form action="/" method="post">
    <label for="CitySelect">Фільтр по місту</label>
    <select id="CitySelect" name="CitySelect" onchange="this.form.submit()">
        <option></option>
        @foreach (var item in Model.CityList)
        {
            <option @(item == Model.CitySelect ? "selected = 'selected'": "")>@item</option>
        }
    </select>
    <label for="AgeSelect">Сортування за віком</label>
    <select id="AgeSelect" name="AgeSelect" onchange="this.form.submit()">
        <option></option>
        <option value="1" @((int)Model.AgeSelect == 1? "selected='selected'" : "")>Спочатку старші</option>
        <option value="0" @((int)Model.AgeSelect == 0? "selected='selected'" : "")>Спочатку молодші</option>
    </select>
</form>

<table border="1" width="450" style="margin-top:20px;">
    <thead>
        <tr>
            <td><strong>Им'я</strong></td>
            <td><strong>Місто</strong></td>
            <td><strong>Вік</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>